<div class="cards-container">
    <div class="card-wrapper" style="margin-top: 80px;">
    
        <div class="mat-card">
            <h1 align="center">CONTACT US</h1>
            <div class="card-content">
                came straigt from out the slumps, so I need a cheque like jordan 1s <br>
                fvgbhnjmk <br>
                cvgbhnj <br>
                rvtbynui <br>
                cfvgbhnj <br>
                fvgbhnjmk <br>
                fgbhnjm <br>
                fvgbhnj
            </div>

        </div>
    </div>
</div>